<a-asset-item id="double-cone" src="./assets/double-cone.glb"></a-asset-item>

<script id="cursorTemplate" type="text/html">
	<a-entity id="cursor"
		cursor-geo="state: inactive"
		sliding-pointer="pointerSelector: #pointer; classFilter: env-world"
		snap
	>
		<a-circle id="cursor-inactive"
			position="0 0.01 0" rotation="-90 0 0"
			radius="0.06"
			material="shader: flat; color: white; transparent: true; opacity: 0.5"
			visible=""
		>
			<a-ring radius-outer="0.07" radius-inner="0.06"
				material="shader: flat; color: black; transparent: true; opacity: 0.5"></a-ring>
		</a-circle>

		<a-gltf-model id="cursor-drawing-line" src="#double-cone"
			constant-scale="0.02 0.02 0.02"
			material="shader: flat; color: white;" apply-material outline="width: 0.08"
			visible=""></a-gltf-model>

		<a-circle id="cursor-drawing-plane"
			position="0 0.01 0" rotation="-90 0 0"
			radius="0.06"
			material="shader: flat; color: white"
			visible=""
		>
			<a-ring radius-outer="0.07" radius-inner="0.06"
				material="shader: flat; color: black"></a-ring>
		</a-circle>
	</a-entity>
</script>
