<script id="cursorTemplate" type="text/html">
	<a-entity id="cursor"
		constant-scale="0.02 0.02 0.02"
		dynamic-cursor
		sliding-pointer="pointerSelector: #pointer; classFilter: env-world"
		locked-pointer="pointerSelector: #pointer"
		snap
	>
		<a-sphere radius="0.2"
			material="shader: flat; color: white"
		></a-sphere>

		<a-ring id="cursor-active-ring" look-at="#camera"
			radius-outer="0.3" radius-inner="0.2"
			material="shader: flat; color: black"></a-ring>

		<a-entity class="state state-line"
			line__1="start: 0 -1 0; end: 0 -0.6 0; color: gray"
			line__2="start: 0 0.6 0; end: 0 1 0; color: gray"></a-entity>

		<a-entity class="state state-plane"
			line__1="start: -1 0 -1; end: -0.6 0 -1; color: gray"
			line__2="start: 0.6 0 -1; end: 1 0 -1; color: gray"
			line__3="start: 1 0 -1; end: 1 0 -0.6; color: gray"
			line__4="start: 1 0 0.6; end: 1 0 1; color: gray"
			line__5="start: 1 0 1; end: 0.6 0 1; color: gray"
			line__6="start: -0.6 0 1; end: -1 0 1; color: gray"
			line__7="start: -1 0 1; end: -1 0 0.6; color: gray"
			line__8="start: -1 0 -0.6; end: -1 0 -1; color: gray"></a-entity>

	</a-entity>

	<a-entity id="extension" line-link="start: 0 0 0; end: 0 0 0; color: red; opacity: 0.5"></a-entity>

</script>
