<script id="toolShelfTemplate" type="text/html">
	<a-shelf id="tools" size="0.03">
		<a-shelf-item class="hoverable env-hud" command-button="draw_box">
			<a-box class="icon" rotation="0 20 0"></a-box>
		</a-shelf-item>

		<a-shelf-item class="hoverable env-hud" command-button="draw_sphere">
			<a-sphere class="icon" transparent="true" opacity="0.4"></a-sphere>
		</a-shelf-item>

		<a-shelf-item class="hoverable env-hud" command-button="deform">
			<a-entity class="icon" rotation="0 20 0" gltf-model="#deform-icon"></a-entity>
		</a-shelf-item>
	</a-shelf>
</script>

<a-asset-item id="deform-icon" src="assets/deform.glb"></a-asset-item>