<template id="box-template">
	<a-entity geometry="buffer: false; primitive: box"
			class="box collidable hoverable env-world"
			harold-object
			grid-mat="opacity: 0.2"
			shadow="cast: false; receive: false">
	</a-entity>
</template>

<template id="sphere-template">
	<a-entity geometry="primitive: sphere"
			class="sphere env-world"
			harold-object
			material="color: white; transparent: true; opacity: 0.2"
			shadow="cast: false; receive: false">
	</a-entity>
</template>

<template id="subdivision-template">
	<a-entity class="hoverable-main modified subdivision env-world"
			position="0 0 0"
			rotation="0 0 0"
			scale="1 1 1"
			grid-mat
			subdivision="levels: 4; edgeSharpness: 3">

		<a-entity class="edges"
				position="0 0 0"
				rotation="0 0 0"
				scale="1 1 1">
		</a-entity>

	</a-entity>
</template>
