<a-entity id="sky" light="color: #ceceff; intensity: 0.4; type: hemisphere; groundColor: #8f8f8f; decay: 0" visible=""></a-entity>

<a-entity id="sun" light="color: #fffff0; intensity: 0.95; groundColor: #ff0000;
	castShadow: true; shadowCameraTop: 30; shadowCameraRight: 30;
	shadowCameraBottom: -30; shadowCameraLeft: -30; shadowMapHeight: 2048; shadowMapWidth: 2048" position="2 5 3"></a-entity>

<a-plane id="ground" harold-object class="hoverable env-world collidable" shadow="cast: false; receive: true" grid-mat width="75" height="75" rotation="-90 0 0"></a-plane>
